#blog {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog-title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
}

#blog-img {
  width: 80vw;
  height: 40vw;
  margin: 20px 0;
  background-color: lightgrey;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#blog-body {
  font-size: 17px;
  font-weight: 100;
  line-height: 23px;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 10px;
  padding: 30px 7%;
  padding-top: 0;
  border-bottom: 1px solid #eee;
}

.blog-show-section {
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  #blog-body {
    padding: 0;
    padding-bottom: 20px;
  }
}
