$primary-color: #ddd;
@import '../loaders.css/src/animations/ball-rotate.scss';

#blog-delete-modal {
    background-color: rgba(0,0,0,0.5);

    width: 100vw;
    height: 100vh;
    z-index: 1001;

    position: fixed;
    top: 0;
    right: 0;
}

#blog-delete-modal-content {
    width: 99%;
    max-width: 350px;
    min-height: 185px;
    height: auto;

    border-radius: 3px;
    padding: 50px 30px;
    padding-bottom: 30px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.delete-wait {
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
