#about-blog {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }

#about-blog-img {
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#about-blog-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 17px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.ball-rotate {
  position: relative; }
  .ball-rotate > div {
    background-color: #ddd;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    animation-fill-mode: both;
    position: relative; }
    .ball-rotate > div:first-child {
      animation: rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite; }
    .ball-rotate > div:before, .ball-rotate > div:after {
      background-color: #ddd;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 2px;
      content: "";
      position: absolute;
      opacity: 0.8; }
    .ball-rotate > div:before {
      top: 0px;
      left: -28px; }
    .ball-rotate > div:after {
      top: 0px;
      left: 25px; }

#blog-delete-modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  top: 0;
  right: 0; }

#blog-delete-modal-content {
  width: 99%;
  max-width: 350px;
  min-height: 185px;
  height: auto;
  border-radius: 3px;
  padding: 50px 30px;
  padding-bottom: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.delete-wait {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

#blog-link {
  width: 100vw;
  max-width: 640px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  border-radius: 3px;
  margin-top: 30px;
  padding: 15px 20px;
  padding-bottom: 35px; }

.blog-link-img-box {
  height: 30vw;
  max-height: 179.39px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#blog-link-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #333; }

#blog-link-body-intro {
  font-size: 25px;
  font-weight: 100;
  color: #777;
  margin-bottom: 20px; }

#blog-link-actions {
  width: 75px;
  padding-right: 10px;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#blog-link-action {
  height: 23px;
  width: 23px;
  z-index: 10;
  color: #aaa; }

#blog-link-action:hover {
  color: #000; }
