// Default small screen layout
#blog-link {
  width: 100vw;
  max-width: 640px;
  height: auto;

  background-color: #fff;
  box-shadow: 0 0 4px #ccc;

  border-radius: 3px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 20px;
  padding-bottom: 25px;
}

.blog-link-img-box {
  height: 30vw;
  max-height: 179.39px;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#blog-link-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

#blog-link-body-intro {
  font-size: 19px;
  font-weight: 100;
  color: #777;
  margin-bottom: 20px;
}

#blog-link-actions {
  width: 75px;
  padding-right: 10px;

  position: absolute;
  bottom: 25px;
  right: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog-link-action {
  height: 23px;
  width: 30px;
  z-index: 20;
  color: #aaa;
  overflow: visible;
}

#blog-link-action:hover {
  color: #000;
}

#blog-link-svg {
  z-index: 10;
}
