@import './comment_form.scss';

#comments-container {
  max-width: 640px;
  margin: 0 auto;
}

#comments {
  padding: 0;
}

#comment {
  margin: 30px 0;
}

.comment-box {
  display: flex;
  flex-direction: column;

  width: 640px;
  height: 100%;

  margin: 0 auto;
  padding: 15px;

  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
}

.comment-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-body {
  margin-top: 10px;

  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
}
