#likes-form-container {
  width: auto;

  display: inline-block;

  box-sizing: border-box;
  padding-top: 5px;
  margin-top: 15px;
  margin-right: 10px;
}

#heart {
  color: #43bd7e;
  cursor: pointer;
}
