#likes-form-container {
  // min-width: 20%;
  width: auto;

  display: inline-block;

  box-sizing: border-box;
  padding: 0 10px;
  padding-top: 5px;
  margin-top: 15px;
  // margin-right: 25px;
}

#heart {
  color: #43bd7e;
  cursor: pointer;
}
