@import 'nav_search.scss';

#search-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

#search-modal-input {
    height: 40px;
    width: 80vw;
    margin-top: 30vh;
    border: none;
    border-bottom: 1px solid #00ab6c;
    outline: none;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 5px 10px;
}

// Hide NavSearch from Navbar on small screens
@media screen and (max-width: 499px) {
    #search-modal-container {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    #search-modal-container {
        display: block;
    }

    #search-modal {
        height: 25px;
        width: 200px;

        position: absolute;
        top: -2px;
        right: 220px;

        border-radius: 3px;
    }

    #search-modal-input {
        margin-top: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        border-radius: 3px;
    }
}
