@import './about_user.scss';

.signin-bg {
  background-image: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1500153014/blog-default-img_d3ke0j.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#signin-guild-logo {
  width: 100px;
}

#signin-guild-head {
  font-size: 55px;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 20px;
  margin-top: 10px;
}

#signin-guild-span {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
