#app {
  padding-top: 70px;
}

#layout {
  min-width: 100vw;
  min-height: 100vh;
  margin-top: -70px;
  padding: 70px 10vw;
  background-color: #fff;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.fit-img {
  width: 100%;
  height: 100%;
}

.full-screen {
  min-width: 100vw;
  min-height: 100vh;
  margin-top: -70px;
  padding-top: 70px;
}

.full {
  width: 100%;
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-screen-width {
  width: 100vw;
}

.border-box-sizing {
  box-sizing: border-box;
}

.content-half {
  width: 50vw;
  height: 50vh;
}

.display-none {
  display: none;
}

.dark-veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.margin--10 {
  margin: 10px;
}

.margin--20 {
  margin: 20px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top--5 {
  margin-top: 5px;
}

.margin-top--10 {
  margin-top: 10px;
}

.margin-top--15 {
  margin-top: 15px;
}

.margin-bottom--5 {
  margin-bottom: 5px;
}

.margin-bottom--10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left--10 {
  margin-left: 10px;
}

.border-bottom--2-solid-black {
  border-botom: 2px solid black;
}

.transition-2s-ease-in {
  transition: all .2s ease-in;
}

@media screen and (min-width: 1100px) {
  .no-desktop {
    display: none;
  }
}

.inactive {
  transition: all .2s ease-in;
  cursor: default !important;
  box-shadow: none !important;
}

.list-style-type--none {
  list-style-type: none;
}
